.cards{
    background-color: #f5deb3;
    border: 2px solid black;
    margin: 20px;
}

.box{
    display: grid;
    grid-template-columns: auto auto auto;
}

.nav{
    background-color: #d1e189;
    width: 100%;
    height: 80px;
    display: flex;
gap: 150px;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 40px;
    text-align: center;
    margin: 90px;
}

.footer{
    background-color: #d1e189;
    width: 285%;
    height: 90px;
    text-align: center;
}